# Nvidia Driver and CUDA are required for these 2 subnodes
subnode_config {
  subnodes {
        id: 51
        name: "RoundviewCameraSubnode"
        reserve: "device_id:camera;"
        type: SUBNODE_OUT
    }
 # subnodes {
  #      id: 61
   #     name: "SlotDetProcessSubnode"
    #    type: SUBNODE_OUT
   # }
}

###################################################################
# Define all edges which link nodes.
edge_config {

    # CameraProcessSubnode -> FusionSubnode
   # edges {
    #    id: 109
     #   from_node: 3
      #  to_node: 31
       # events {
        #    id: 1009
         #   name: "camera_fusion"
       # }
   # }

    # RadarSubnode -> FusionSubnode
  #  edges {
   #     id: 113
    #    from_node: 4
     #   to_node: 31
      #  events {
       #     id: 1013
        #    name: "radar_fusion"
       # }
  #  }
}

# Shared Data
data_config {
    datas {
        id: 5
        name: "CameraObjectData"
    }
    datas {
        id: 7
        name: "CameraSharedData"
    }
    datas {
        id: 9
        name: "FusionSharedData"
    }
   # datas {
    #    id: 10
     #   name: "RadarObjectData"
   # }
}
